
*/Example/.vs
*/Example/Example/Example.Android/obj
*/Example/Example/Example.Android/bin
*/Example/Example/Example/bin
*/Example/Example/Example/obj
/Lesson6/Code/.vs/Novella/DesignTimeBuild/.dtbcache
/Lesson6/Code/.vs/Novella/v16/.suo
/Lesson6/Code/.vs/Novella/v16/Server/sqlite3/db.lock
/Lesson6/Code/.vs/Novella/v16/Server/sqlite3/storage.ide
