img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 800px;
    width: 300px;
}

.landscape {
    height: 300px;
    width: 800px;
}

.square {
    height: 750px;
    width: 750px;
}