/OpenWeatherMapExamples/OpenWeatherMapExamples.Android/bin
/OpenWeatherMapExamples/OpenWeatherMapExamples.Android/obj
/OpenWeatherMapExamples/OpenWeatherMapExamples/bin
/OpenWeatherMapExamples/OpenWeatherMapExamples/obj
